h1, h2, h3, h4, h5, h6 {
  text-transform: none;
}

img {
  max-height: 400px;
  max-width: 500px;
  border-radius: 8px;
}

code {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 0 8px;
}
